# Some brief examples on using array_to_latex to get nicely formatted latex versions of your arrays.

In [1]:
import pandas as pd
import numpy as np
import array_to_latex as a2l
%load_ext autoreload
%autoreload 2

Let's create an array and output it as $\LaTeX$. We are going to use [Python 3.0 string formatting](https://docs.python.org/3.7/library/string.html) 

The following shows a float style output with 2 decimal places.

In [2]:
A = np.array([[1.23456, 23.45678],[456.23+1j, 8.239521]])
a2l.to_ltx(A, frmt = '{:.2f}', arraytype = 'bmatrix', mathform = True)

\begin{bmatrix}
  1.23 + 0.00j &  23.46 + 0.00j\\
  456.23 + 1.00j &  8.24 + 0.00j
\end{bmatrix}

Design is to print results to the screen with no output being available. However, new usages have highlighted the need to enable outputs and hide printing. Thus the addition of the ``print_out`` boolean to turn off printing but instead return an output.

In [3]:
A = np.array([[1.23456, 23.45678],[456.23+1j, 8.239521]])
latex_code = a2l.to_ltx(A, frmt = '{:.2f}', arraytype = 'bmatrix', mathform = True, print_out=False)

We can still print the returned formatted latex code:

In [4]:
print(latex_code)

\begin{bmatrix}
  1.23 + 0.00j &  23.46 + 0.00j\\
  456.23 + 1.00j &  8.24 + 0.00j
\end{bmatrix}

One can use a number before the decimal place. This defines the minimum width to use for the number, padding with spaces at the beginning. 

Since the largest number needs 6 characters (3 before the decimal, the decimal, and 2 after), putting a 6 in this location makes everything line up nicely. This would also be a nice default to code up.

In [5]:
A = np.array([[1.23456, 23.45678],[456.23+1j, 8.239521]])
a2l.to_ltx(A, frmt = '{:6.2f}', arraytype = 'bmatrix', mathform = True)

\begin{bmatrix}
    1.23 +   0.00j &   23.46 +   0.00j\\
  456.23 +   1.00j &    8.24 +   0.00j
\end{bmatrix}

Let's put it in exponential form.

In [6]:
a2l.to_ltx(A, frmt = '{:.2e}', arraytype = 'bmatrix', mathform=False)

\begin{bmatrix}
  1.23e+00 + 0.00e+00j &  2.35e+01 + 0.00e+00j\\
  4.56e+02 + 1.00e+00j &  8.24e+00 + 0.00e+00j
\end{bmatrix}

That's not how humans/textbooks write exponential form. Let's use `mathform=True` (which is the default).

In [7]:
a2l.to_ltx(A, frmt = '{:6.2e}', arraytype = 'bmatrix', mathform=True)

\begin{bmatrix}
  1.23\times 10^{+00} + 0.00\times 10^{+00}j &  2.35\times 10^{+01} + 0.00\times 10^{+00}j\\
  4.56\times 10^{+02} + 1.00\times 10^{+00}j &  8.24\times 10^{+00} + 0.00\times 10^{+00}j
\end{bmatrix}

It's easier to make these columns line up than when using `f` format styling- so I believe it is working.

Of course, the typeset $\LaTeX$ will look better than the raw $\LaTeX$.

One can also capture the string in the output.

It will also do column and row-vectors. It's the array is 1-D, the default is a row.

In [8]:
A = np.array([1.23456, 23.45678, 456.23, 8.239521])
a2l.to_ltx(A, frmt = '{:6.2f}', arraytype = 'bmatrix')

\begin{bmatrix}
    1.23 &   23.46 &  456.23 &    8.24
\end{bmatrix}

In [9]:
A = np.array([[1.23456, 23.45678, 456.23, 8.239521]])
a2l.to_ltx(A, frmt='{:6.2f}', arraytype='bmatrix')

\begin{bmatrix}
    1.23 &   23.46 &  456.23 &    8.24
\end{bmatrix}

In [10]:
A = np.array([[1.23456, 23.45678, 456.23, 8.239521]]).T
a2l.to_ltx(A, frmt='{:6.2f}', arraytype='bmatrix')

\begin{bmatrix}
    1.23\\
   23.46\\
  456.23\\
    8.24
\end{bmatrix}

If you want to plot a few nods or points in latex using tizk, like
```latex
\documentclass{standalone}
\usepackage{pgfplots}
\begin{document}
\begin{tikzpicture}
  \foreach \Point in 
  {(0.23,2.46),(1.23,2.24)}
  {\node at \Point {$\circ$};}
\end{tikzpicture}
\end{document}
```
you may want to output a list of coordinates.

In [11]:
A = np.array([[0.23456, 2.45678],[1.23, 2.239521]])
a2l.to_ltx(A, frmt='{:1.2f}', arraytype='coords')

{(1.23,23.46),(456.23,8.24)}

We can use the `lambda` function method to create a function with personalized defaults. This makes for a much more compact call, and one that can be adjusted for an entire session.

In [12]:
def to_tex(A): return a2l.to_ltx(
    A, frmt='{:6.2e}', arraytype='bmatrix', mathform=True)
to_tex(A)

\begin{bmatrix}
  1.23\times 10^{+00} &  2.35\times 10^{+01}\\
  4.56\times 10^{+02} &  8.24\times 10^{+00}
\end{bmatrix}

In [13]:
def to_tex(A): return a2l.to_ltx(
    A, frmt='{:6.2f}', arraytype='bmatrix', mathform=True)
to_tex(A)

\begin{bmatrix}
    1.23 &   23.46\\
  456.23 &    8.24
\end{bmatrix}

# Panda DataFrames

You can also produce tables or math arrays from Panda DataFrames.

In [14]:
df = pd.DataFrame(np.random.randint(low=0, high=10, size=(5, 5)),
...                    columns=['a', 'b', 'c', 'd', 'e'])

In [15]:
df

   a  b  c  d  e
0  1  7  3  9  7
1  1  8  8  9  4
2  1  5  9  0  6
3  5  4  7  7  7
4  2  9  3  0  0

In [16]:
np.array(df)

array([[1, 7, 3, 9, 7],
       [1, 8, 8, 9, 4],
       [1, 5, 9, 0, 6],
       [5, 4, 7, 7, 7],
       [2, 9, 3, 0, 0]])

In [17]:
a2l.to_ltx(df, arraytype='bmatrix')

\begin{bmatrix}
 0 &  1.00 &  7.00 &  3.00 &  9.00 &  7.00\\
 1 &  1.00 &  8.00 &  8.00 &  9.00 &  4.00\\
 2 &  1.00 &  5.00 &  9.00 &  0.00 &  6.00\\
 3 &  5.00 &  4.00 &  7.00 &  7.00 &  7.00\\
 4 &  2.00 &  9.00 &  3.00 &  0.00 &  0.00
\end{bmatrix}

In [18]:
a2l.to_ltx(df, arraytype='tabular')

\begin{tabular}{lrrrrr}
\toprule
     & a & b & c & d & e \\\n\midrule
 0 &  1.00 &  7.00 &  3.00 &  9.00 &  7.00\\
 1 &  1.00 &  8.00 &  8.00 &  9.00 &  4.00\\
 2 &  1.00 &  5.00 &  9.00 &  0.00 &  6.00\\
 3 &  5.00 &  4.00 &  7.00 &  7.00 &  7.00\\
 4 &  2.00 &  9.00 &  3.00 &  0.00 &  0.00\\
\bottomrule
\end{tabular}

In [19]:
df2 = pd.DataFrame(['cat', 'dog', 'bird', 'snake', 'honey badger'], columns=['pets'])
df2

           pets
0           cat
1           dog
2          bird
3         snake
4  honey badger

In [20]:
df_mixed = df.join(df2)
df_mixed

   a  b  c  d  e          pets
0  1  7  3  9  7           cat
1  1  8  8  9  4           dog
2  1  5  9  0  6          bird
3  5  4  7  7  7         snake
4  2  9  3  0  0  honey badger

In [21]:
a2l.to_ltx(df_mixed, arraytype='tabular')

\begin{tabular}{lrrrrrr}
\toprule
     & a & b & c & d & e & pets \\\n\midrule
 0 &  1.00 &  7.00 &  3.00 &  9.00 &  7.00 &  cat         \\
 1 &  1.00 &  8.00 &  8.00 &  9.00 &  4.00 &  dog         \\
 2 &  1.00 &  5.00 &  9.00 &  0.00 &  6.00 &  bird        \\
 3 &  5.00 &  4.00 &  7.00 &  7.00 &  7.00 &  snake       \\
 4 &  2.00 &  9.00 &  3.00 &  0.00 &  0.00 &  honey badger\\
\bottomrule
\end{tabular}

In [22]:
A = np.array([[1.23456, 23.45678],[456.23, 8.239521]])
a2l.to_ltx(A, frmt = '{:6.2f}', arraytype = 'array')

\begin{array}{ c, c}
    1.23 &   23.46\\
  456.23 &    8.24
\end{array}

In [23]:
A = np.array([[1.23456, 23.45678],[456.72+392.71j, 8.239521]])